body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-family: 'Arial Black', sans-serif;
    font-size: 32px;
    flex-grow: 1;
    text-align: center;
}

.login a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #4CAF50;
}

.login a:hover {
    background-color: #45a049;
}

.background {
    background-image: url('https://t3.ftcdn.net/jpg/05/66/27/56/360_F_566275602_ewJ3sgEV27DQhETyuen8JHrVFM90rBhm.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    max-width: 900px;
    margin: auto;
    padding-top: 50px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center; /* Añadimos este ajuste para centrar las tarjetas horizontalmente */
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.hidden-info {
    display: none;
}

.card:hover .hidden-info {
    display: block;
}

.red-text {
    color: #e60000;
}

.bold {
    font-weight: bold;
}

.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
